body{
    font-family: 'Open Sans',sans-serif;
    background-color:lightpink;
    }
    h1{
        text-align: center;
    }
    #container{
    width: 1000px;
    height: 550px;
    margin: 20px auto;
    }
    #calculator{
    width: 320px;
    height: 520px;
    background-color: #528299;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 10px 10px 10px 10px;
    
    }
    #result{
        height: 120px;
        }
    #history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color:bisque;
    }
    #output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
    }
    #keyboard{
    height: 400px;
    
    }
    .operator, .number, .empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50% 0 50;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
    }
    
    
    .number{
    background-color:bisque
    }
    .number, .operator{
    cursor: pointer;
    }
    .operator:active, .number:active{
    font-size: 13px;
    }
    .operator:focus, .number:focus, .empty:focus{
    outline: 0;
    }
    button:nth-child(4){
    font-size: 20px;
    background-color:blanchedalmond;
    }
    button:nth-child(8){
    font-size: 20px;
    background-color:darkgrey
    }
    button:nth-child(12){
    font-size: 20px;
    background-color: #93cfd2;
    }
    button:nth-child(16){
    font-size: 20px;
    background-color: #ac2780;
    }
    button:nth-child(20){
    font-size: 20px;
    background-color: #13eb3e;
    }
    button:nth-child(17){
        background-color:aliceblue
    }
    button:nth-child(2){
        background-color: rgb(146, 221, 173);
    }
    button:nth-child(3){
        background-color:khaki
    }
    button:nth-child(1){
        background-color:lightpink;
    }
    button:nth-child(19){
        background-color:aquamarine
    }
    
